/* CSS Document */
body {
	background-color: #111111;
	color: #FFFFFF;
	margin: 0px;
}

.main-navigation-background {
	background-color: #333333;
}

.main-navigation {
	height: 75px;
	margin-top: 10px;
}